/build
/include
/modules
/config*
/configure
/configure.*
/autom*
/.libs
/libtool
/Makefile
/Makefile.*
/*.la
/*.lo
/Notes
/.vscode
/run*
/test_bqen.php
/test0.php
/tmp*


!/config.m4
!/config.w32

/custom_build.bat
